<nav>
  <div class="nav">
  		<a href="/">
  			<i class="material-icons navIconLeft">home</i>
  		</a>
  </div>
</nav>
<a href="/{{ username }}" class="settings">My Profile</a>
<a href="/account/email" class="settings">Change Email</a>
<a href="/account/password" class="settings">Change Password</a>
<a href="/account/username" class="settings">Change Username</a>
<a href="/account/name" class="settings">Update Name</a>
<a href="/logout" class="settings">Log Out</a>
<a href="/account/deactivate" class="settings">Deactivate Account</a>
